<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">                    
 <!-- cn.com.controlle,cn.com.service.impl,cn.com.dao.impl 这么写报错 dao层没有扫描  只能扫描两个包-->
 <context:component-scan base-package="cn.com" />
 <mvc:annotation-driven />
 <context:annotation-config />
 <mvc:default-servlet-handler/>
 <bean id="urlBasedViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
 	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
 	<property name="prefix" value="/page/" />
 	<property name="suffix" value=".jsp"/>
 </bean>
 <mvc:interceptors>
 	<mvc:interceptor>
 	    <mvc:mapping path="/user/*"/><!-- user/list.do 就会运行 -->
 		<bean class="cn.com.interceptor.LoginInterceptor" />
 	</mvc:interceptor>
 </mvc:interceptors>
</beans> 